.video-container {
  position: relative;
}

.video-container video {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
  border-bottom: #d8dad5 solid 2px;
}

.video-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: right;
  color: #fff;
}

.video-text h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: right;
  opacity: 0.75;
}

.video-text p {
  font-size: 1.2rem;
  line-height: 2;
  margin-bottom: 0;
  font-weight: bold;
}

.infoRows {
  display: flex;
  margin: 1rem;
  font-size: 2rem;
  color: #d8dad5;
  line-height: 3rem;
}

.infoRows img {
  border-radius: 10%;
  margin-right: 1rem;
  border: #d8dad5 solid 2px;
  margin-bottom: 1rem;
}

.infoRows img:hover {
  cursor: pointer;
}

h2 {
  text-align: center;
  color: #d8dad5;
  font-size: 2.5rem;
}
